[class *="col"] {
    min-height: 50px;
    border: 1px solid #ffff;
    background-color: #006cf9;
    text-align: center;
    line-height: 50px;
    color: white;
}

.margin-top {
    margin-top: 25px;
}

/******Row Padding for Nested Elements*****/
.padding {
    padding: 20px;
}

.padding div {
    background-color: #1bff00;
    border-color: #006cf9;
}
/******End Row Padding for Nested Elements*****/
